.recent .text {
  padding: 30px;
}
.recent .category span {
  padding: 4px 15px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
}
.recent .category i {
  font-size: 20px;
  color: #bec7d8;
}
.recent p {
  color: #72809d;
}
.recent .button {
  border-top: 1px solid #e4e8f3;
  padding: 10px 30px;
}


.details {
  display: flex;
  gap: 20px;
  align-items: center;
}

.detail {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.detail svg {
  margin-right: 5px;
  font-size: 16px;
  color: #333;
}

.box {
  position: relative; /* Esto es clave para que los decorativos se posicionen dentro */
}


.umbrella-deco {
  display: inline-block;
  background-image: url("../../../../public/images/decorative/sombrilla.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  width: 100px;
  height:100px;
  position: absolute;
  top: -30px;
  right: -10px;
  z-index: 1;
  pointer-events: none; /* evita interferencias de clic */

}

.root-deco {
  display: inline-block;
  background-image: url("../../../../public/images/decorative/root.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  width: 150px;
  height: 150px;
  position: absolute;
  float: left;
  z-index: 1;
  pointer-events: none; /* evita interferencias de clic */

}

@media screen and (max-width: 1024px) {
  .content {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  }
}


@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 20px; /* Mantén el espacio entre las tarjetas */
  }

  .box {
    margin: 0 auto; /* Asegura que cada tarjeta esté centrada */
  }
}
