/* Estilos generales */
header {
  display: flex;
  height: 10vh;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99999;
}

.logo-container {
  background-color: #F49730;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-container .logo img {
  max-width: 100%;
  height: auto;
}

.nav-container {
  background-color: rgba(83, 81, 81, 0.8);
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
}

.nav-container .nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-container .nav ul li a {
  color: #fff;
  margin-left: 30px;
  transition: color 0.3s;
  font-weight: 500;
}

.nav-container .nav ul li a:hover {
  color: #F49730;
}

.nav-container .toggle {
  display: none;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .logo-container {
    width: 75%;
  }

  .nav-container {
    background-color: #F49730;
    width: 25%;
    justify-content: center;
    padding: 0;
  }

  /* Mostrar el botón de toggle en móviles */
  .nav-container .toggle {
    display: block;
  }

  /* Ocultar el menú por defecto en móviles */
  .nav-container .nav ul {
    flex-direction: column;

    position: absolute;
    top: 10vh; /* Ajusta según la altura de tu header */
    left: 0;
    width: 100%;
    background-color: rgba(83, 81, 81, 0.9);
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;

    /* Ocultar el menú por defecto */
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out, transform 0.5s ease-out, visibility 0s linear 0.5s;
  }

  /* Mostrar el menú cuando se agrega la clase 'show' */
  .nav-container .nav ul.show {
    max-height: 500px; /* Asegúrate de que este valor sea suficiente para contener todos los enlaces */
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in, transform 0.5s ease-in, visibility 0s;
  }

  /* Estilos para los enlaces del menú en móviles */
  .nav-container .nav ul li {
    margin: 0;
  }

  .nav-container .nav ul li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0;
  }

  .nav-container .nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }

  /* Estilos para el botón de toggle */
  .iconB {
    background-color: #595959;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    border: none;
  }
}
